@font-face{
    font-family: myFirstFont;
    src: url(./assets/Stefan\ Stoychev\ -\ AutopromPro-Thin.otf);
}
*{
    font-family: myFirstFont;
    font-weight:  500;
}
.navbar-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position:relative;
    top:20px;
}
nav div img{
    width: 120px;
    position: absolute;
    left: 70px;
}
.list{
    display: flex;
    flex-wrap: nowrap;
    gap:50px;
    font-size: 130%;
    position: relative;
    bottom:7px;
}
.list-item{
    list-style-type: none;
}
ul li:first-of-type{
    font-weight: 900;
    
}
li:first-of-type::after{
    content: "";
  height: 2px;
  width: 40px;
  background-color:#222;
  position: absolute;
  top:28px;
  left: 70px;
  transform: translate(-50%);  
}
.button-group{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top:10px;
}
.nav-button{
    height: 45px;
    width: 130px;
    border: 2px solid #222;
    border-radius: 13px;
    background-color: #fff;
    position: absolute;
    right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color:#808080;
}
.search-icon{
    position: absolute;
    right: 210px;
    top:8px;
}
.globe+img{
    position:absolute;
    top:100px;
}
.globe img{
    position: absolute;
    top:120px;
    display: block;
    margin-left: 50%;
    height: 50px;
    width: 50px;
}
.star img{ 
    position: absolute;
    right:40px;
    top:150px;
    height: 40px;
    width: 40px;
}
.square img{
    position: absolute;
    top:300px;
    left:180px;
    height: 300px;
    width: 300px;
}
.hero-section div img{
    position: absolute;
    left:70px;
    top:150px;
    height: 200px;
    width:150px;
}
.hero-heading{
    position:absolute;
    top:160px;
    left:600px;
    font-weight: 900;
    font-size: 65px;
}
.hero-description{
    position:absolute;
    top:300px;
    left:670px;
    right:130px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color:#808080;
}
.button-email{
    position: absolute;
    top:420px;
    left:800px;
    width:170px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.button-join{
    position: absolute;
    top:420px;
    left:985px;
    font-size: 18px;
    font-weight: 900;
    background-color:#000000;
    color: #fff;
    border-radius: 8px;
}
.contact-heading{
    position: absolute;
    top:520px;
    left:900px;
    font-family: Arial, Helvetica, sans-serif;
    color:#808080;
    font-size: 18px;
}
.icons{
    position: absolute;
    top:570px;
    left:860px;
}
.hero-image{
    height: 200px;
    width: 200px;
}
.icons img{
    height:30px;
    width:30px;
    margin: 5px;
}
.hero-container div>img{
    position:absolute;
    left:70px;
    top:130px;
    height: 420px;
    width: 350px;
}