*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background: #F9F5ED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    max-width: 1440px;
}

nav {
    padding: 20px 10%;
    height: 15vh;
}
 nav ul{
    display: flex;
    align-items: center;
 }
 nav ul li{
    list-style-type: none;
    margin-right: 5%;
    font-weight: 500;
    font-size: small;
 }
 main{
    display: flex;
    margin-left: 10%;
 }
 .left-section{
    width: 35%;
    margin-top: 15%;
 }
 .left-section h1{
    font-size: 45px;
 }
 .left-section p{
    margin: 2% 0;
    font-weight: lighter;
    color: #808080;
 }
 .left-section button{
    padding: 15px 20px;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    outline: none;
    border: none;
}
.right-section{
   width:500px;
   height: 500px;
   margin-left: 130px;
}
.right-section img:nth-child(1){
   margin: 5px;
    width: 200px;
    height: 230px;
} 
.right-section img:nth-child(2){
   margin: 5px;
   width: 200px;
   height: 250px;
} 
.right-section img:nth-child(3){
   width: 420px;
   height: 200px;
} 
