*{
    background-color:	#282828 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 2% 15%;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    height: 35px;
    width: 100px;
}
nav ul{
    display: flex;
}
.nav-right{
    display: flex;
}

div ul li{
    list-style-type: none;
    margin-right: 20px;
    margin-top: 3px;
    color: #808080;
    font-size: 13px;
}
.nav-right button{
    background-color: #282828;
    border: 1px solid #F7CD2E;
    width:100px;
    height: 30px;
    color: #F7CD2E;
    border-radius: 5px;
}
h1{
    color: #fff;
    width: 500px;
    font-size: 55px;
    padding: 2%;
}
p{
    margin-top: 40px;
    color: #9d9d9d;
    width: 320px;
    margin-right: 0%;
}
.upper-main{
    display: flex;
    justify-content: space-between;
}
main img{
    height: 390px;
    width: 950px;
}